.header {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  margin: 0px 20px;
}

.baseballForm {
  padding: 20px;
}

.hide {
  display:none;
}

.dadImage {
  height:200px;
}

.body {
  padding: 20px
}

